body {
    color: #ffffff;
    background-color: #000000;
}

#background:fullscreen { 
	background-color: #640bac;
}

td {
    text-align: center;
    border: 2px solid #ffffff;
    padding-inline: 2em;
}

.button {
    opacity: .7;
}

.button:hover {
    opacity: 1;
}

.button:active {
    border: 2px solid #7e7e7e;
}

#white {
    color: black;
    background-color: white;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#custom {
    background-color: #640bac;
    display: none;
}